html { font-size: 16px; }
body {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 .75rem;
  /* Bootstrap native font stack */
  /* https://github.com/twbs/bootstrap/pull/19098/files#diff-b312aea0dc66acbf9ed2a57f4aa03571R35 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.2;
  word-wrap: break-word;
}
nav { display: inline-table; }
nav.right { float: right; }
nav a {
  display: inline-block;
  padding-left: 1rem;
}
h1, h2, h3 {
  color: #000;
  margin: 1rem 0;
}
h1 {
  margin: 0;
  margin-left: -.25rem;
  font-size: 3rem;
}
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
hr {
  display: block;
  height: 2px;
  margin: 1.5rem -.5rem;
  border-color: #739;
  background-color: #739;
}
hr + p { margin-bottom: 0; }

blockquote {
  margin: 0;
  padding: .25rem;
  padding-left: 2rem;
  border-left: .5rem solid #ddd;
  font-family: Georgia, "Times New Roman", Times, serif; /* native serif fonts */
  font-style: italic;
  line-height: 1.8;
  color: #767676;
}
img { max-width: 100%; }
@media (max-width: 767px) {
  html { font-size: 18px; }
  hr { margin: 2rem 0; }
}

pre {
  margin: 1rem 0;
  padding: .25rem;
  padding-left: 1rem;
  border-left: .25rem solid #ddd;
  font-size: 85%;
}

spoiler {
  display: table;
  margin: 1rem 0;
  padding: .25rem;
  font-family: monospace;
  font-size: 85%;
  background: #000;
  color: #000;
}
