@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    src: local('Source Sans Pro'),
         url('./fonts/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('./fonts/SourceSansPro-Regular.ttf.woff2') format('woff2'),
         url('./fonts/SourceSansPro-Regular.otf.woff') format('woff'),
         url('./fonts/SourceSansPro-Regular.otf') format('opentype'),
         url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    src: local('Source Sans Pro'),
         url('./fonts/SourceSansPro-It.eot') format('embedded-opentype'),
         url('./fonts/SourceSansPro-It.ttf.woff2') format('woff2'),
         url('./fonts/SourceSansPro-It.otf.woff') format('woff'),
         url('./fonts/SourceSansPro-It.otf') format('opentype'),
         url('./fonts/SourceSansPro-It.ttf') format('truetype');
}
@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    src: local('Source Sans Pro'),
         url('./fonts/SourceSansPro-Bold.eot') format('embedded-opentype'),
         url('./fonts/SourceSansPro-Bold.ttf.woff2') format('woff2'),
         url('./fonts/SourceSansPro-Bold.otf.woff') format('woff'),
         url('./fonts/SourceSansPro-Bold.otf') format('opentype'),
         url('./fonts/SourceSansPro-Bold.ttf') format('truetype');
}

html { font-size: 16px; }
body {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 .75rem;
  font-family: "Source Sans Pro", Georgia;
  line-height: 1.2;
  word-wrap: break-word;
}
nav {
  display: inline-table;
  float: right;
}
nav a {
  display: inline-block;
  padding-left: 1rem;
}
h1, h2, h3 {
  color: #000;
  margin: 1rem 0;
}
h1 {
  margin: 0;
  font-size: 3rem;
}
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
hr {
  display: block;
  margin: 2rem -.6rem;
}
hr + p { margin: 0 .25rem; }

blockquote {
  margin: 0;
  padding: 0 1rem;
  color: #555;
  border-left: 4px solid #ddd;
}
img { max-width: 100%; }
@media (max-width: 767px) {
  html {font-size: 18px; }
  hr { margin: 2rem 0; }
}

/* Syntax highlighting */
pre {
  padding: .5rem;
  border: 1px solid #ccc;
  font-size: 85%;
  background: #f8f8f8;
  color: #333;
  border-radius: 3px;
}
/* regexp */
.f-1, .f-1 * {color:#009926;}
/* string */
.f1,.f1 * {color:#d14;}
/* comment */
.f2,.f2 * {color:#998;font-style:italic;}
/* keyword */
.f3,.f3 * {color:#000;font-weight: 700;}
/* predefined object */
.f4,.f4 * {color:#08B;}
/* number */
.f5,.f5 * {color:#099;}
/* bracket, operator */
.f6 {color:#000;}
