html { font-size: 16px; }
body {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 .5rem;
  /* Bootstrap native font stack */
  /* https://github.com/twbs/bootstrap/pull/19098/files#diff-b312aea0dc66acbf9ed2a57f4aa03571R35 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.2;
  word-wrap: break-word;
}
nav { display: inline-table; }
nav.right { float: right; }
nav a {
  display: inline-block;
  padding-left: 1rem;
}
h1, h2, h3 {
  color: #000;
  margin: 1rem 0;
}
h1 {
  margin: 0;
  font-size: 3rem;
}
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
hr {
  display: block;
  margin: 2rem -0.6rem 1.5rem;
}
p {
  margin-left: .25rem;
  margin-right: .25rem;
}
hr + p { margin-bottom: 0; }

blockquote {
  margin: 0;
  padding: 0 1rem;
  color: #555;
  border-left: 4px solid #ddd;
}
img { max-width: 100%; }
@media (max-width: 767px) {
  html { font-size: 18px; }
  hr { margin: 2rem 0; }
}

/* Syntax highlighting */
pre {
  padding: .5rem;
  border: 1px solid #ccc;
  font-size: 85%;
  background: #f8f8f8;
  color: #333;
  border-radius: 3px;
}
/* regexp */
.f-1, .f-1 * {color:#009926;}
/* string */
.f1,.f1 * {color:#d14;}
/* comment */
.f2,.f2 * {color:#998;font-style:italic;}
/* keyword */
.f3,.f3 * {color:#000;font-weight: 700;}
/* predefined object */
.f4,.f4 * {color:#08B;}
/* number */
.f5,.f5 * {color:#099;}
/* bracket, operator */
.f6 {color:#000;}
